#about-us-container {
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

#about-us {

    width: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    padding: 32px 5px 40px 5px;

    /*     border-bottom: 2px solid #d9d9d9; */
}


#about-us img {
    height: 100px;
}

#about-us h1 {
    color: #212121;

    margin-bottom: 32px;
}

#about-us p {
    margin-top: 45px;
    line-height: 24px;
}

#services-section {
    color: #212121;
}

#services-container {
    width: 100%;
    height: fit-content;

    height: 315px;

    background-color: #f0f0f0;

    display: flex;
    align-items: center;

    flex-direction: column;

}

#services-container #services-header {
    margin-top: 32px;
}

#services-container #paragrafos {

    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 65px;

}

.paragrafo {
    display: flex;

    width: 350px;

    height: 150px;


    align-items: center;

    flex-direction: column;
}

.paragrafo h3 {
    color: #3367D6;

    margin-bottom: 16px;
}

.paragrafo p {
    line-height: 24px;
}

#p-first {
    text-align: left;
}

#p-second {
    text-align: center;
}

#p-third {
    text-align: right;
}

#contatos-container {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: #3A3A3A;
    color: white;
}

#contatos-container #contatos-border {
    height: 100%;

    width: 85%;

    /*     border-top: solid 4px #3367D6;
    border-bottom: solid 4px #3367D6; */

}

#contatos-container #contatos-text {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    gap: 20px;

    padding: 20px;

    height: 50%;

    border-bottom: solid 1px #3367D6;
}

#contatos-container #contatos-text h2 {
    margin-bottom: 20px;
}

#contatos-container #ancoras {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 150px;

    height: 50%;

    border-top: solid 1px #3367D6;
}

#contatos-container #ancoras a {
    height: 100px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1300px) {
    #services-container #paragrafos {

        width: 85%;

        display: flex;
        align-items: center;

        gap: 40px;

        margin-top: 65px;

    }
}

@media (max-width:1200px) {
    #services-container {
        height: 350px;
    }
}

@media (max-width:770px) {

    #services-container {
        height: fit-content;
    }

    #services-container #paragrafos {

        width: 85%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;

        margin-top: 65px;

    }

    #p-first {
        text-align: center;
    }

    #p-second {
        text-align: center;
    }

    #p-third {
        text-align: center;
    }

    #contatos-container #ancoras {
        display: flex;

        flex-direction: column;

        width: 100%;

        gap: 0px;


        border-top: solid 2px #3367D6;
    }
}