footer {
    background-color: #f0f0f0;
}

.footer-box {
    width: 85%;
    display: flex;
    gap: 6rem;
    margin: auto;
    padding: 2rem 0;
}

.footer-contact-us-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.footer-contact-us-box img {
    width: 120px;
}

.footer-contact-us-box button {
    font-size: .9rem;
    padding: .8rem 2rem;
    cursor: pointer;
    border-radius: 9px;
    border: 2px solid #007bbf;
    background-color: transparent;
}

.footer-contact-us-box button:hover {
    color: #ffff;
    background-color: #007bbf;
    transition: all .5s;
}

.socials-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    border-left: 2px solid #74A5E5;

}

.socials-box p {
    font-weight: 600;
}

.socials-box a {
    height: 32px;
    width: 32px;
}

@media (max-width: 769px) {
    .footer-contact-us-box button {
        color: #ffff;
        background-color: #007bbf;
    }
}

@media (max-width: 475px) {
    .footer-box {
        gap: 0;
        justify-content: space-between;
    }

    .socials-box {
        padding-left: 1.5rem;
    }
}