header, figure, ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    margin: 1rem 2rem;
}

header img {
    max-width: 83px;
    cursor: pointer;
}

header ul {
    list-style-type: none;
}

header li {
    position: relative;
    cursor: pointer;
}

header li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.3px;
    bottom: -5px;
    left: 0;
    background-color: rgba(0,123,191);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header li:not(.lastOneHeader) {
    margin-right: 1rem;
}